.SwipContainer {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 80px;
}
.SwipContainer .SwipSingle {
  margin: 0 auto;
  width: 80%;
}
.SwipContainer .SwipSingle img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.SwipContainer .SwipSingle .swiper-button-prev {
  color: red;
}